flows.json
[
    {
        "id": "d8a9ef838553b641",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2b8e8a3580ea6beb",
        "type": "group",
        "z": "d8a9ef838553b641",
        "style": {
            "stroke": "#b2b3bd",
            "stroke-opacity": "1",
            "fill": "#f2f3fb",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#32333b"
        },
        "nodes": [
            "7b430714aba06333",
            "dd552399c775af2d",
            "140b9e88241404dd",
            "ed73470ed7a7b700",
            "528b254075add938",
            "de1b039cf2e01221",
            "4e2d16df9627f76e",
            "94213a049f1463af",
            "caccb4a4efc74630"
        ],
        "x": 694,
        "y": 239,
        "w": 652,
        "h": 202
    },
    {
        "id": "15e00d8f8aa1a399",
        "type": "group",
        "z": "d8a9ef838553b641",
        "name": "",
        "style": {
            "stroke": "#b2b3bd",
            "fill": "#f2f3fb",
            "fill-opacity": "0.5",
            "label": true,
            "color": "#32333b"
        },
        "nodes": [
            "78d14b09aa0b03de",
            "ff97231d3ddceb7f",
            "3e9617cf6816aa8b"
        ],
        "x": 454,
        "y": 259,
        "w": 192,
        "h": 162
    },
    {
        "id": "fa2e204658fc4219",
        "type": "group",
        "z": "d8a9ef838553b641",
        "style": {
            "stroke": "#b2b3bd",
            "stroke-opacity": "1",
            "fill": "#f2f3fb",
            "fill-opacity": "0.5",
            "label": true,
            "label-position": "nw",
            "color": "#32333b"
        },
        "nodes": [
            "4f48d591c8f6b27a",
            "9c313c236ddd103a",
            "aba33765e4015658"
        ],
        "x": 34,
        "y": 259,
        "w": 332,
        "h": 162
    },
    {
        "id": "78d14b09aa0b03de",
        "type": "ui_button",
        "z": "d8a9ef838553b641",
        "g": "15e00d8f8aa1a399",
        "name": "",
        "group": "a4167572dab88520",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "New Game",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "flag",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 550,
        "y": 300,
        "wires": [
            [
                "de1b039cf2e01221",
                "4e2d16df9627f76e"
            ]
        ]
    },
    {
        "id": "ff97231d3ddceb7f",
        "type": "ui_button",
        "z": "d8a9ef838553b641",
        "g": "15e00d8f8aa1a399",
        "name": "",
        "group": "a4167572dab88520",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Live",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "timeline",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 530,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3e9617cf6816aa8b",
        "type": "ui_button",
        "z": "d8a9ef838553b641",
        "g": "15e00d8f8aa1a399",
        "name": "Questions",
        "group": "a4167572dab88520",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Questions",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "list",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 540,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "7b430714aba06333",
        "type": "ui_dropdown",
        "z": "d8a9ef838553b641",
        "g": "2b8e8a3580ea6beb",
        "name": "Topic",
        "label": "Topic",
        "tooltip": "",
        "place": "Select option",
        "group": "06b34138abbb0462",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 950,
        "y": 280,
        "wires": [
            [
                "528b254075add938"
            ]
        ]
    },
    {
        "id": "dd552399c775af2d",
        "type": "ui_dropdown",
        "z": "d8a9ef838553b641",
        "g": "2b8e8a3580ea6beb",
        "name": "Gamemode",
        "label": "Gamemode",
        "tooltip": "",
        "place": "Select option",
        "group": "06b34138abbb0462",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "",
                "value": "",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 970,
        "y": 320,
        "wires": [
            [
                "94213a049f1463af"
            ]
        ]
    },
    {
        "id": "140b9e88241404dd",
        "type": "ui_button",
        "z": "d8a9ef838553b641",
        "g": "2b8e8a3580ea6beb",
        "name": "Start Game",
        "group": "06b34138abbb0462",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Start Game",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "play_arrow",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 970,
        "y": 400,
        "wires": [
            [
                "caccb4a4efc74630",
                "aba33765e4015658",
                "89e65e9c66d42ff4"
            ]
        ]
    },
    {
        "id": "ed73470ed7a7b700",
        "type": "ui_dropdown",
        "z": "d8a9ef838553b641",
        "g": "2b8e8a3580ea6beb",
        "name": "Number of teams",
        "label": "Number of teams",
        "tooltip": "",
        "place": "Select option",
        "group": "06b34138abbb0462",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [
            {
                "label": "1",
                "value": "1",
                "type": "str"
            },
            {
                "label": "2",
                "value": "2",
                "type": "str"
            },
            {
                "label": "3",
                "value": "3",
                "type": "str"
            },
            {
                "label": "4",
                "value": "4",
                "type": "str"
            }
        ],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 990,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "4f48d591c8f6b27a",
        "type": "ui_button",
        "z": "d8a9ef838553b641",
        "g": "fa2e204658fc4219",
        "name": "Back",
        "group": "75346c27f7fd69ea",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Back",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "keyboard_return",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9c313c236ddd103a",
        "type": "ui_button",
        "z": "d8a9ef838553b641",
        "g": "fa2e204658fc4219",
        "name": "Stop",
        "group": "75346c27f7fd69ea",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Stop",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "block",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 290,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3a67c8f10bba8086",
        "type": "ui_button",
        "z": "d8a9ef838553b641",
        "name": "New Topic",
        "group": "8748a8458817e175",
        "order": 2,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "New Topic",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "add",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 850,
        "y": 2820,
        "wires": [
            [
                "e3a4e087378feba1"
            ]
        ]
    },
    {
        "id": "31b0e4f79c3dcfe7",
        "type": "ui_button",
        "z": "d8a9ef838553b641",
        "name": "Back",
        "group": "8748a8458817e175",
        "order": 1,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Back",
        "tooltip": "",
        "color": "",
        "bgcolor": "red",
        "className": "",
        "icon": "keyboard_return",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 870,
        "y": 2760,
        "wires": [
            []
        ]
    },
    {
        "id": "70c31981cb72cbc2",
        "type": "ui_text_input",
        "z": "d8a9ef838553b641",
        "name": "",
        "label": "Question",
        "tooltip": "",
        "group": "8748a8458817e175",
        "order": 7,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 860,
        "y": 3040,
        "wires": [
            [
                "035343b5ca1b0c56"
            ]
        ]
    },
    {
        "id": "65fa07c181941478",
        "type": "ui_text_input",
        "z": "d8a9ef838553b641",
        "name": "",
        "label": "Answer 2",
        "tooltip": "",
        "group": "8748a8458817e175",
        "order": 9,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 810,
        "y": 3120,
        "wires": [
            [
                "83374dd9e5b53040"
            ]
        ]
    },
    {
        "id": "9af78567a2515910",
        "type": "ui_text_input",
        "z": "d8a9ef838553b641",
        "name": "",
        "label": "Answer 3",
        "tooltip": "",
        "group": "8748a8458817e175",
        "order": 10,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 810,
        "y": 3160,
        "wires": [
            [
                "92043681831c1d15"
            ]
        ]
    },
    {
        "id": "0fe65750503c9278",
        "type": "ui_text_input",
        "z": "d8a9ef838553b641",
        "name": "",
        "label": "Answer 4",
        "tooltip": "",
        "group": "8748a8458817e175",
        "order": 11,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 810,
        "y": 3200,
        "wires": [
            [
                "ebd551e879db9112"
            ]
        ]
    },
    {
        "id": "29bbe6590667de0c",
        "type": "ui_dropdown",
        "z": "d8a9ef838553b641",
        "name": "",
        "label": "Correct Answer",
        "tooltip": "",
        "place": "Select option",
        "group": "8748a8458817e175",
        "order": 12,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 840,
        "y": 3240,
        "wires": [
            [
                "d6a308f008999ec3"
            ]
        ]
    },
    {
        "id": "003f42871e40c798",
        "type": "ui_button",
        "z": "d8a9ef838553b641",
        "name": "Previous",
        "group": "8748a8458817e175",
        "order": 5,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Previous",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow_back",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 860,
        "y": 2900,
        "wires": [
            [
                "13dc235a9deea592",
                "f58bf94532300417"
            ]
        ]
    },
    {
        "id": "71f6af6374da461e",
        "type": "ui_button",
        "z": "d8a9ef838553b641",
        "name": "Next",
        "group": "8748a8458817e175",
        "order": 6,
        "width": 3,
        "height": 1,
        "passthru": false,
        "label": "Next",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "arrow_forward",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 830,
        "y": 2960,
        "wires": [
            [
                "f58bf94532300417",
                "95f0ddb9a42b61eb"
            ]
        ]
    },
    {
        "id": "fe5ec485fd8c898a",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "Initialize flow.questions, flow.number, flow.topics",
        "func": "flow.set(\"questions\",[]);\nflow.set(\"number\",0);\nflow.set(\"topics\",[])\nflow.set(\"gamemodes\",[\"First to 100\", \"Tug of War\", \"Ressource Race\"]);\nflow.set(\"pods\",[\"01\",\"02\"]);\nflow.set(\"p1\",0);\nflow.set(\"p2\",0);\nflow.set(\"p3\",0);\nflow.set(\"p4\",0);\nflow.set(\"q_counter\",0);\nflow.set(\"points\",10);\nflow.set(\"pods_questions\", []);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "d955ef69ae6bee24",
        "type": "inject",
        "z": "d8a9ef838553b641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "fe5ec485fd8c898a"
            ]
        ]
    },
    {
        "id": "7a5eba3294dc3093",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "Add new question to topic",
        "func": "var questions = flow.get(\"questions\");\nvar topic = flow.get(\"topic\");\nvar question = flow.get(\"question\");\nvar A1 = flow.get(\"A1\");\nvar A2 = flow.get(\"A2\");\nvar A3 = flow.get(\"A3\");\nvar A4 = flow.get(\"A4\");\nvar correct = flow.get(\"correct\");\nvar number = flow.get(\"number\");\n\n// Check if there is an existing object in the array with the same Number and Topic\nvar indexToUpdate = questions.findIndex(function (q) {\n    return q.Number === number && q.Topic === topic;\n});\n\nif (indexToUpdate === -1) {\n    // If no existing object is found, add the new_question object to the end of the array\n    var new_question = {\n        \"Number\": number,\n        \"Topic\": topic,\n        \"Question\": question,\n        \"A1\": A1,\n        \"A2\": A2,\n        \"A3\": A3,\n        \"A4\": A4,\n        \"Correct\": correct\n    };\n    questions.push(new_question);\n} else {\n    // If an existing object is found, update that object with the new information\n    questions[indexToUpdate].Question = question;\n    questions[indexToUpdate].A1 = A1;\n    questions[indexToUpdate].A2 = A2;\n    questions[indexToUpdate].A3 = A3;\n    questions[indexToUpdate].A4 = A4;\n    questions[indexToUpdate].Correct = correct;\n}\n\nflow.set(\"questions\", questions);\n\nmsg.payload = \"Question Saved\"\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1050,
        "y": 3280,
        "wires": [
            [
                "27a6d085d2dac828"
            ]
        ]
    },
    {
        "id": "d6a308f008999ec3",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "correct",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 3240,
        "wires": [
            []
        ]
    },
    {
        "id": "83374dd9e5b53040",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "A2",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 3120,
        "wires": [
            []
        ]
    },
    {
        "id": "92043681831c1d15",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "A3",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 3160,
        "wires": [
            []
        ]
    },
    {
        "id": "ebd551e879db9112",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "A4",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 3200,
        "wires": [
            []
        ]
    },
    {
        "id": "035343b5ca1b0c56",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "question",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 3040,
        "wires": [
            []
        ]
    },
    {
        "id": "fb7d0ccfda9fe766",
        "type": "ui_button",
        "z": "d8a9ef838553b641",
        "name": "Save",
        "group": "8748a8458817e175",
        "order": 13,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Save",
        "tooltip": "",
        "color": "",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 870,
        "y": 3280,
        "wires": [
            [
                "7a5eba3294dc3093"
            ]
        ]
    },
    {
        "id": "dcd2d622309419da",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "msg.payload to flow.number",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "number",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1300,
        "y": 2900,
        "wires": [
            [
                "f58bf94532300417",
                "a936d824aefc19dd"
            ]
        ]
    },
    {
        "id": "13dc235a9deea592",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "Previous Question",
        "func": "var number = flow.get(\"number\");\nif (number > 1) {\n    var new_number = number - 1;\n    flow.set(\"number\", new_number);\n}\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1030,
        "y": 2900,
        "wires": [
            [
                "dcd2d622309419da"
            ]
        ]
    },
    {
        "id": "3c62677632ba59aa",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "Next Question",
        "func": "var number = flow.get(\"number\");\nvar new_number = number + 1;\nif (new_number > 100) {\n    new_number = 1;\n}\nflow.set(\"number\", new_number);\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1240,
        "y": 2960,
        "wires": [
            [
                "dcd2d622309419da"
            ]
        ]
    },
    {
        "id": "6ef27573f08b6c70",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "Set flow.number to msg.payload",
        "rules": [
            {
                "t": "set",
                "p": "number",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1890,
        "y": 3000,
        "wires": [
            [
                "f58bf94532300417"
            ]
        ]
    },
    {
        "id": "ba29e39855ddd231",
        "type": "ui_text_input",
        "z": "d8a9ef838553b641",
        "name": "",
        "label": "Answer 1",
        "tooltip": "",
        "group": "8748a8458817e175",
        "order": 8,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "topic",
        "sendOnBlur": true,
        "className": "",
        "topicType": "msg",
        "x": 810,
        "y": 3080,
        "wires": [
            [
                "44c594fcd660658f"
            ]
        ]
    },
    {
        "id": "44c594fcd660658f",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "A1",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010,
        "y": 3080,
        "wires": [
            []
        ]
    },
    {
        "id": "5d2907f2769dd9ea",
        "type": "ui_toast",
        "z": "d8a9ef838553b641",
        "position": "prompt",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "Cancel",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1190,
        "y": 2820,
        "wires": [
            [
                "1c871c498968f97d"
            ]
        ]
    },
    {
        "id": "e3a4e087378feba1",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Please name your new topic",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 2820,
        "wires": [
            [
                "5d2907f2769dd9ea"
            ]
        ]
    },
    {
        "id": "1c871c498968f97d",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "Push new_topic to flow.topics",
        "func": "var topics = flow.get(\"topics\");\nvar new_topic = msg.payload;\n\n// Push new_topic to the topics array only if\n// the topic is not already included\nif (!topics.includes(new_topic) && new_topic != \"Cancel\" && new_topic != \"\") {\n    topics.push(new_topic);\n    flow.set(\"topics\", topics);\n    msg.options = topics;\n    msg.payload = new_topic;\n}\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1400,
        "y": 2820,
        "wires": [
            [
                "819b7010e0f43b2d",
                "a273d65451bcc758"
            ]
        ]
    },
    {
        "id": "819b7010e0f43b2d",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "number",
                "pt": "flow",
                "to": "1",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1720,
        "y": 2860,
        "wires": [
            [
                "dcd2d622309419da",
                "f58bf94532300417"
            ]
        ]
    },
    {
        "id": "f58bf94532300417",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "Update text input & dropdown",
        "func": "var number = flow.get(\"number\");\nvar topic = flow.get(\"topic\");\nvar questions = flow.get(\"questions\");\n\n// Filter the questions array based on the topic variable\nvar filteredQuestions = questions.filter(function (question) {\n    return question.Topic === topic;\n});\n\n// Get the index of the element to show based on the number variable\nvar indexToShow = number - 1;\n\n// Get the specific element from the filteredQuestions array based on the index\nvar elementToShow = filteredQuestions[indexToShow];\n\n// Set the new value of the questions variable in the flow context\nmsg.payload = elementToShow;\n\n\nif (typeof msg.payload === 'undefined') {\n    // if payload is undefined define empty values\n    msg.payload = {\n        \"Number\": null,\n        \"Topic\": null,\n        \"Question\": null,\n        \"A1\": null,\n        \"A2\": null,\n        \"A3\": null,\n        \"A4\": null,\n        \"Correct\": null };\n} \n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 370,
        "y": 3080,
        "wires": [
            [
                "4c58886fe2d29421",
                "ad4efb825e07f191",
                "3df999fc30e21594",
                "22acb9d73fb9366d",
                "998895a1a6d00a2f",
                "fc0bfc1719ac9ea8"
            ]
        ]
    },
    {
        "id": "3960135d20711f30",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 2780,
        "wires": [
            [
                "819b7010e0f43b2d"
            ]
        ]
    },
    {
        "id": "a273d65451bcc758",
        "type": "ui_dropdown",
        "z": "d8a9ef838553b641",
        "name": "Topic",
        "label": "Topic",
        "tooltip": "",
        "place": "Select option",
        "group": "8748a8458817e175",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 1650,
        "y": 2780,
        "wires": [
            [
                "3960135d20711f30"
            ]
        ]
    },
    {
        "id": "4c58886fe2d29421",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.A1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 3080,
        "wires": [
            [
                "ba29e39855ddd231"
            ]
        ]
    },
    {
        "id": "ad4efb825e07f191",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.A2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 3120,
        "wires": [
            [
                "65fa07c181941478"
            ]
        ]
    },
    {
        "id": "998895a1a6d00a2f",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.A3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 3160,
        "wires": [
            [
                "9af78567a2515910"
            ]
        ]
    },
    {
        "id": "3df999fc30e21594",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.A4",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 3200,
        "wires": [
            [
                "0fe65750503c9278"
            ]
        ]
    },
    {
        "id": "22acb9d73fb9366d",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Question",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 3040,
        "wires": [
            [
                "70c31981cb72cbc2"
            ]
        ]
    },
    {
        "id": "fc0bfc1719ac9ea8",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.Correct",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "[1, 2, 3, 4]",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 3240,
        "wires": [
            [
                "29bbe6590667de0c"
            ]
        ]
    },
    {
        "id": "27a6d085d2dac828",
        "type": "ui_toast",
        "z": "d8a9ef838553b641",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1010,
        "y": 3360,
        "wires": [
            []
        ]
    },
    {
        "id": "528b254075add938",
        "type": "change",
        "z": "d8a9ef838553b641",
        "g": "2b8e8a3580ea6beb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "game_topic",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1190,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "de1b039cf2e01221",
        "type": "change",
        "z": "d8a9ef838553b641",
        "g": "2b8e8a3580ea6beb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "topics",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 280,
        "wires": [
            [
                "7b430714aba06333"
            ]
        ]
    },
    {
        "id": "4e2d16df9627f76e",
        "type": "change",
        "z": "d8a9ef838553b641",
        "g": "2b8e8a3580ea6beb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "options",
                "pt": "msg",
                "to": "gamemodes",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 320,
        "wires": [
            [
                "dd552399c775af2d"
            ]
        ]
    },
    {
        "id": "94213a049f1463af",
        "type": "change",
        "z": "d8a9ef838553b641",
        "g": "2b8e8a3580ea6beb",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "game_mode",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1200,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "caccb4a4efc74630",
        "type": "function",
        "z": "d8a9ef838553b641",
        "g": "2b8e8a3580ea6beb",
        "name": "Filter Questions based on topic",
        "func": "\nvar topic = flow.get(\"game_topic\");\nvar questions = flow.get(\"questions\");\n\n// Filter the questions array based on the topic variable\nvar filteredQuestions = questions.filter(function (question) {\n    return question.Topic === topic;\n});\n\nflow.set(\"game_questions\",filteredQuestions)\nmsg.payload = filteredQuestions\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1190,
        "y": 400,
        "wires": [
            [
                "136bb68b47368f84",
                "d0f3624295f529d4"
            ]
        ]
    },
    {
        "id": "aba33765e4015658",
        "type": "change",
        "z": "d8a9ef838553b641",
        "g": "fa2e204658fc4219",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "game_mode",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 140,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "95f0ddb9a42b61eb",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 1",
        "func": "\nvar topic = flow.get(\"topic\");\nvar questions = flow.get(\"questions\");\nvar number = flow.get(\"number\")\n\n// Filter the questions array based on the topic variable\nvar filteredQuestions = questions.filter(function (question) {\n    return question.Topic === topic;\n});\n\nif (filteredQuestions.length >= number) {\n    msg.payload = \"continue\"\n}\nelse {\n    msg.payload = \"stop\"\n}\n\nmsg.question = filteredQuestions\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 2960,
        "wires": [
            [
                "e9a7192b01f1bb91",
                "cd0cecb57e44ada3"
            ]
        ]
    },
    {
        "id": "e9a7192b01f1bb91",
        "type": "switch",
        "z": "d8a9ef838553b641",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "continue",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "stop",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1090,
        "y": 2980,
        "wires": [
            [
                "3c62677632ba59aa"
            ],
            [
                "ca693c3cfd394fa9"
            ]
        ]
    },
    {
        "id": "ca693c3cfd394fa9",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Please add questions before continueing",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1240,
        "y": 3000,
        "wires": [
            [
                "58e8b4fc15db4471"
            ]
        ]
    },
    {
        "id": "58e8b4fc15db4471",
        "type": "ui_toast",
        "z": "d8a9ef838553b641",
        "position": "dialog",
        "displayTime": "3",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "className": "",
        "topic": "",
        "name": "",
        "x": 1410,
        "y": 3000,
        "wires": [
            []
        ]
    },
    {
        "id": "0f130e40e14d7c19",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 2",
        "func": "var questions = flow.get(\"questions\");\nvar number = flow.get(\"number\")\n\nif (questions.length >= number ){\n    msg.payload = \"continue\"\n}\nelse {\n    msg.payload = \"stop\"\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1700,
        "y": 3120,
        "wires": [
            []
        ]
    },
    {
        "id": "a936d824aefc19dd",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "group": "8748a8458817e175",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Number",
        "format": "{{msg.payload}}",
        "layout": "row-center",
        "className": "",
        "x": 1600,
        "y": 3020,
        "wires": []
    },
    {
        "id": "cf0c1a8c04c7ecaa",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 2900,
        "wires": [
            []
        ]
    },
    {
        "id": "cd0cecb57e44ada3",
        "type": "debug",
        "z": "d8a9ef838553b641",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "question",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1300,
        "y": 3120,
        "wires": []
    },
    {
        "id": "9e94cc7e7d5ad782",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 3",
        "func": "msg.gamemode = flow.get(\"game_mode\")\nmsg.team1 = 42;\nmsg.team2 = 85;\nmsg.team3 = 21;\nmsg.team4 = 53;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1380,
        "y": 3480,
        "wires": [
            []
        ]
    },
    {
        "id": "bb16dfafc422e8c6",
        "type": "inject",
        "z": "d8a9ef838553b641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 1240,
        "y": 3480,
        "wires": [
            [
                "9e94cc7e7d5ad782"
            ]
        ]
    },
    {
        "id": "7f2d48253b0a506d",
        "type": "debug",
        "z": "d8a9ef838553b641",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1080,
        "y": 660,
        "wires": []
    },
    {
        "id": "fa7d859696043fea",
        "type": "mqtt in",
        "z": "d8a9ef838553b641",
        "name": "",
        "topic": "Init",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee34639149189bfe",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 370,
        "y": 580,
        "wires": [
            [
                "2edf77d1a25005d4",
                "f9a7e60d3f1169e4"
            ]
        ]
    },
    {
        "id": "75f22517f882f437",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "Filter Questions based on topic",
        "func": "var game_questions = flow.get(\"game_questions\");\nvar pods_questions = flow.get(\"pods_questions\");\n\nif (pods_questions.length > 0) {\n    if (pods_questions.some(obj => obj.pod.includes(\"0\" + msg.payload))) {\n        for (let i = 0; i < pods_questions.length; i++) {\n            if ((\"0\" + msg.payload) == pods_questions[i].pod) {\n                pods_questions[i].Question = game_questions[msg.payload - 1].Question;\n                pods_questions[i].A1 = game_questions[msg.payload - 1].A1;\n                pods_questions[i].A2 = game_questions[msg.payload - 1].A2;\n                pods_questions[i].A3 = game_questions[msg.payload - 1].A3;\n                pods_questions[i].A4 = game_questions[msg.payload - 1].A4;\n                pods_questions[i].Correct = game_questions[msg.payload - 1].Correct;\n            }\n        }\n    }\n\n    else {\n        var new_question = {\n            \"pod\": \"0\" + msg.payload,\n            \"Question\": game_questions[msg.payload - 1].Question,\n            \"A1\": game_questions[msg.payload - 1].A1,\n            \"A2\": game_questions[msg.payload - 1].A2,\n            \"A3\": game_questions[msg.payload - 1].A3,\n            \"A4\": game_questions[msg.payload - 1].A4,\n            \"Correct\": game_questions[msg.payload - 1].Correct\n        };\n        pods_questions.push(new_question);\n        flow.set(\"pods_questions\", pods_questions);\n    }\n}\n\nelse {\n    var new_question = {\n        \"pod\": \"0\" + msg.payload,\n        \"Question\": game_questions[msg.payload - 1].Question,\n        \"A1\": game_questions[msg.payload - 1].A1,\n        \"A2\": game_questions[msg.payload - 1].A2,\n        \"A3\": game_questions[msg.payload - 1].A3,\n        \"A4\": game_questions[msg.payload - 1].A4,\n        \"Correct\": game_questions[msg.payload - 1].Correct\n    };\n    pods_questions.push(new_question);\n    flow.set(\"pods_questions\", pods_questions);\n}\n\nmsg.payload = \"0\" + msg.payload + game_questions[msg.payload - 1].Correct + game_questions[msg.payload - 1].Question;\n\n\n\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 560,
        "wires": [
            [
                "7f2d48253b0a506d",
                "106039cb84646108",
                "19242c852ab5e19e",
                "d20bfa081668e699",
                "3deaaeb5abe50147",
                "4d2f64c903eb4c97",
                "9452fd419fcf5604"
            ]
        ]
    },
    {
        "id": "cc6b555798d7e85a",
        "type": "inject",
        "z": "d8a9ef838553b641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "2",
        "payloadType": "str",
        "x": 90,
        "y": 500,
        "wires": [
            [
                "2edf77d1a25005d4"
            ]
        ]
    },
    {
        "id": "a57df2ceda9368a5",
        "type": "inject",
        "z": "d8a9ef838553b641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "1",
        "payloadType": "str",
        "x": 90,
        "y": 460,
        "wires": [
            [
                "2edf77d1a25005d4"
            ]
        ]
    },
    {
        "id": "2edf77d1a25005d4",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 6",
        "func": "var game_questions = flow.get(\"game_questions\");\nvar pods = flow.get(\"pods\");\n\nif (msg.payload > pods.length){\n    msg.continue = false;\n}\nelse {\n    msg.continue = true;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 580,
        "wires": [
            [
                "cbd5d5bfdbd33896"
            ]
        ]
    },
    {
        "id": "cbd5d5bfdbd33896",
        "type": "switch",
        "z": "d8a9ef838553b641",
        "name": "",
        "property": "continue",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 580,
        "wires": [
            [
                "75f22517f882f437"
            ],
            [
                "93f4112cd3eb9497"
            ]
        ]
    },
    {
        "id": "10542ea721288b37",
        "type": "inject",
        "z": "d8a9ef838553b641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "3",
        "payloadType": "str",
        "x": 90,
        "y": 540,
        "wires": [
            [
                "2edf77d1a25005d4"
            ]
        ]
    },
    {
        "id": "93f4112cd3eb9497",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "Filter Questions based on topic",
        "func": "msg.payload = 2;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 600,
        "wires": [
            [
                "7f2d48253b0a506d",
                "ff4d83a9e95f4230"
            ]
        ]
    },
    {
        "id": "136bb68b47368f84",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 500,
        "wires": [
            [
                "2edf77d1a25005d4"
            ]
        ]
    },
    {
        "id": "d0f3624295f529d4",
        "type": "delay",
        "z": "d8a9ef838553b641",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 1480,
        "y": 420,
        "wires": [
            [
                "56136b3df912f71b"
            ]
        ]
    },
    {
        "id": "56136b3df912f71b",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "1",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1640,
        "y": 420,
        "wires": [
            [
                "146da1c573446950",
                "c4a220d6d7e3f611"
            ]
        ]
    },
    {
        "id": "146da1c573446950",
        "type": "mqtt out",
        "z": "d8a9ef838553b641",
        "name": "",
        "topic": "GameMode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee34639149189bfe",
        "x": 1810,
        "y": 420,
        "wires": []
    },
    {
        "id": "106039cb84646108",
        "type": "mqtt out",
        "z": "d8a9ef838553b641",
        "name": "",
        "topic": "Questions",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee34639149189bfe",
        "x": 1080,
        "y": 560,
        "wires": []
    },
    {
        "id": "ff4d83a9e95f4230",
        "type": "mqtt out",
        "z": "d8a9ef838553b641",
        "name": "",
        "topic": "GameMode",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee34639149189bfe",
        "x": 1090,
        "y": 600,
        "wires": []
    },
    {
        "id": "799cb05f03d3b40e",
        "type": "mqtt in",
        "z": "d8a9ef838553b641",
        "name": "",
        "topic": "Answers",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee34639149189bfe",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 560,
        "y": 920,
        "wires": [
            [
                "9bef2f0c0bf4c02a"
            ]
        ]
    },
    {
        "id": "9885640d1dcaf7e8",
        "type": "inject",
        "z": "d8a9ef838553b641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "011",
        "payloadType": "str",
        "x": 410,
        "y": 760,
        "wires": [
            [
                "9bef2f0c0bf4c02a"
            ]
        ]
    },
    {
        "id": "9bef2f0c0bf4c02a",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 7",
        "func": "var p1 = flow.get(\"p1\");\nvar p2 = flow.get(\"p2\");\nvar p3 = flow.get(\"p3\");\nvar p4 = flow.get(\"p4\");\nvar points = flow.get(\"points\");\nvar pods_questions = flow.get(\"pods_questions\");\n\n\nif (msg.payload[2] == 1) {\n    p1 = p1 + points;\n    flow.set(\"p1\", p1);\n}\n\nif (msg.payload[2] == 2) {\n    p2 = p2 + points;\n    flow.set(\"p2\", p2);\n}\n\nif (msg.payload[2] == 3) {\n    p3 = p3 + points;\n    flow.set(\"p3\", p3);\n}\n\nif (msg.payload[2] == 4) {\n    p4 = p4 + points;\n    flow.set(\"p4\", p4);\n}\n\nvar pods = flow.get(\"pods\");\nvar q_counter = flow.get(\"q_counter\");\nvar game_questions = flow.get(\"game_questions\");\n\nif (q_counter >= game_questions.length - pods.length) {\n    q_counter = -1; // Reset q_counter to 1 if it exceeds array length\n} else {\n    q_counter = q_counter + 1;\n}\n\nflow.set(\"q_counter\", q_counter);\n\nif (pods_questions.some(obj => obj.pod.includes(\"0\" + msg.payload[1]))) {\n    for (let i = 0; i < pods_questions.length; i++) {\n        if ((\"0\" + msg.payload[1]) == pods_questions[i].pod) {\n            pods_questions[i].Question = game_questions[pods.length - 1 + q_counter].Question;\n            pods_questions[i].A1 = game_questions[pods.length - 1 + q_counter].A1;\n            pods_questions[i].A2 = game_questions[pods.length - 1 + q_counter].A2;\n            pods_questions[i].A3 = game_questions[pods.length - 1 + q_counter].A3;\n            pods_questions[i].A4 = game_questions[pods.length - 1 + q_counter].A4;\n            pods_questions[i].Correct = game_questions[pods.length - 1 + q_counter].Correct;\n        }\n    }\n}\n\nelse {\n    var new_question = {\n        \"pod\": \"0\" + msg.payload[1],\n        \"Question\": game_questions[pods.length - 1 + q_counter].Question,\n        \"A1\": game_questions[pods.length - 1 + q_counter].A1,\n        \"A2\": game_questions[pods.length - 1 + q_counter].A2,\n        \"A3\": game_questions[pods.length - 1 + q_counter].A3,\n        \"A4\": game_questions[pods.length - 1 + q_counter].A4,\n        \"Correct\": game_questions[pods.length - 1 + q_counter].Correct\n    };\n    pods_questions.push(new_question);\n    flow.set(\"pods_questions\", pods_questions);\n}\n\nmsg.payload = \"0\" + msg.payload[1] + game_questions[pods.length - 1 + q_counter].Correct + game_questions[pods.length - 1 + q_counter].Question;\n\nreturn msg;\n\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 700,
        "y": 920,
        "wires": [
            [
                "6651804c3c20aedf",
                "229b351aa308c865",
                "2bac8b7a9ca355b9",
                "19242c852ab5e19e",
                "bea8e1f34e4753e5",
                "d20bfa081668e699",
                "6ab39fe298c1d402",
                "3deaaeb5abe50147",
                "1618b75de83e33a2",
                "4d2f64c903eb4c97",
                "08f90a38f8096056",
                "9452fd419fcf5604",
                "3df7de04945835a5"
            ]
        ]
    },
    {
        "id": "6651804c3c20aedf",
        "type": "debug",
        "z": "d8a9ef838553b641",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 880,
        "wires": []
    },
    {
        "id": "229b351aa308c865",
        "type": "mqtt out",
        "z": "d8a9ef838553b641",
        "name": "",
        "topic": "Questions",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "ee34639149189bfe",
        "x": 860,
        "y": 920,
        "wires": []
    },
    {
        "id": "2bac8b7a9ca355b9",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 8",
        "func": "msg.p1 = flow.get(\"p1\");\nmsg.p2 = flow.get(\"p2\");\nmsg.p3 = flow.get(\"p3\");\nmsg.p4 = flow.get(\"p4\");\nmsg.gamemode = flow.get(\"game_mode\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 880,
        "y": 1040,
        "wires": [
            [
                "8e095c115906759c",
                "7e02c2c263051bb1",
                "08d6c552440fb423",
                "70e96448e3df4535",
                "3216764b87cf430e"
            ]
        ]
    },
    {
        "id": "bd846c545d950751",
        "type": "inject",
        "z": "d8a9ef838553b641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "012",
        "payloadType": "str",
        "x": 410,
        "y": 800,
        "wires": [
            [
                "9bef2f0c0bf4c02a"
            ]
        ]
    },
    {
        "id": "380cf42cae4cb86d",
        "type": "inject",
        "z": "d8a9ef838553b641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "013",
        "payloadType": "str",
        "x": 410,
        "y": 840,
        "wires": [
            [
                "9bef2f0c0bf4c02a"
            ]
        ]
    },
    {
        "id": "b8aa1e29868b047c",
        "type": "inject",
        "z": "d8a9ef838553b641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "014",
        "payloadType": "str",
        "x": 410,
        "y": 880,
        "wires": [
            [
                "9bef2f0c0bf4c02a"
            ]
        ]
    },
    {
        "id": "8e095c115906759c",
        "type": "ui_template",
        "z": "d8a9ef838553b641",
        "group": "75346c27f7fd69ea",
        "name": "",
        "order": 3,
        "width": 6,
        "height": 3,
        "format": "<style>\n    .progress-red::-webkit-progress-value {\n        background-color: red !important;\n    }\n\n    .progress-blue::-webkit-progress-value {\n        background-color: blue !important;\n    }\n\n    .progress-green::-webkit-progress-value {\n        background-color: green !important;\n    }\n\n    .progress-yellow::-webkit-progress-value {\n        background-color: gold !important;\n    }\n\n    .progress-container {\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n        margin-top: 20px;\n    }\n\n    .gamemode-label {\n        font-family: 'Arial', sans-serif;\n        font-size: 16px;\n        margin-bottom: 10px;\n    }\n\n    .gamemode-name {\n        font-weight: bold;\n    }\n\n    progress {\n        position: relative;\n    }\n\n    progress::after {\n        content: attr(value);\n        color: white;\n        position: absolute;\n        top: 50%;\n        left: 50%;\n        transform: translate(-50%, -50%);\n        font-size: 12px;\n        /* Adjust the font size as desired */\n    }\n</style>\n\n<div class=\"progress-container\">\n    <div class=\"gamemode-label\">\n        <span>Gamemode: </span>\n        <span class=\"gamemode-name\">{{msg.gamemode}}</span>\n    </div>\n    <div>\n        <label>Team 1:</label>\n        <progress class=\"progress-red\" value=\"{{msg.p1}}\" max=\"100\" style=\"background-color:#FF0000\"></progress>\n    </div>\n    <div>\n        <label>Team 2:</label>\n        <progress class=\"progress-blue\" value=\"{{msg.p2}}\" max=\"100\" style=\"background-color:#0000FF\"></progress>\n    </div>\n    <div>\n        <label>Team 3:</label>\n        <progress class=\"progress-green\" value=\"{{msg.p3}}\" max=\"100\" style=\"background-color:#00FF00\"></progress>\n    </div>\n    <div>\n        <label>Team 4:</label>\n        <progress class=\"progress-yellow\" value=\"{{msg.p4}}\" max=\"100\" style=\"background-color:#FFA500\"></progress>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "5d441c4c21a36080",
        "type": "ui_dropdown",
        "z": "d8a9ef838553b641",
        "d": true,
        "name": "Gamemode",
        "label": "Pod No.",
        "tooltip": "",
        "place": "Select option",
        "group": "75346c27f7fd69ea",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2470,
        "y": 700,
        "wires": [
            [
                "da4e930e56b737bc"
            ]
        ]
    },
    {
        "id": "89692b22c0ec724c",
        "type": "inject",
        "z": "d8a9ef838553b641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "021",
        "payloadType": "str",
        "x": 270,
        "y": 760,
        "wires": [
            [
                "9bef2f0c0bf4c02a"
            ]
        ]
    },
    {
        "id": "285d3cdcf6c8e27e",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "d": true,
        "group": "75346c27f7fd69ea",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Question:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3040,
        "y": 620,
        "wires": []
    },
    {
        "id": "0fb5c4432de04954",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "d": true,
        "group": "75346c27f7fd69ea",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 1:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3040,
        "y": 660,
        "wires": []
    },
    {
        "id": "41a95be03309cd9c",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "d": true,
        "group": "75346c27f7fd69ea",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 2:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3040,
        "y": 700,
        "wires": []
    },
    {
        "id": "d940c7fe021b46cb",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "d": true,
        "group": "75346c27f7fd69ea",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 3:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3040,
        "y": 740,
        "wires": []
    },
    {
        "id": "da4e930e56b737bc",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 9",
        "func": "var pods_questions = flow.get(\"pods_questions\");\n\nfor (let i = 0; i < pods_questions.length; i++){\n    if (pods_questions[i].pod == msg.payload){\n        flow.set(\"admin_selected_pod\",pods_questions[i].pod);\n        msg.question = pods_questions[i].Question;\n        msg.a1 = pods_questions[i].A1;\n        msg.a2 = pods_questions[i].A2;\n        msg.a3 = pods_questions[i].A3;\n        msg.a4 = pods_questions[i].A4;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2640,
        "y": 700,
        "wires": [
            [
                "7f84f89c7ffd68c3",
                "9631251b10db0dab",
                "9e9ff4ca9816c70a",
                "827b2357c41e971a",
                "cca2ff24a1fd77e7",
                "2d43e89c5c813675"
            ]
        ]
    },
    {
        "id": "266b9777c42a2de0",
        "type": "inject",
        "z": "d8a9ef838553b641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2440,
        "y": 580,
        "wires": [
            [
                "19242c852ab5e19e"
            ]
        ]
    },
    {
        "id": "19242c852ab5e19e",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 10",
        "func": "var pod_questions = flow.get(\"pods_questions\");\nmsg.options = pod_questions.map(function (item) {\n    return item.pod;\n});\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2450,
        "y": 640,
        "wires": [
            [
                "5d441c4c21a36080"
            ]
        ]
    },
    {
        "id": "2d43e89c5c813675",
        "type": "debug",
        "z": "d8a9ef838553b641",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2820,
        "y": 560,
        "wires": []
    },
    {
        "id": "7f84f89c7ffd68c3",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "question",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2840,
        "y": 620,
        "wires": [
            [
                "285d3cdcf6c8e27e"
            ]
        ]
    },
    {
        "id": "9631251b10db0dab",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2840,
        "y": 660,
        "wires": [
            [
                "0fb5c4432de04954"
            ]
        ]
    },
    {
        "id": "9e9ff4ca9816c70a",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2840,
        "y": 700,
        "wires": [
            [
                "41a95be03309cd9c"
            ]
        ]
    },
    {
        "id": "827b2357c41e971a",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2840,
        "y": 740,
        "wires": [
            [
                "d940c7fe021b46cb"
            ]
        ]
    },
    {
        "id": "1540aacbec9bbddf",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "d": true,
        "group": "75346c27f7fd69ea",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 4:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3040,
        "y": 780,
        "wires": []
    },
    {
        "id": "cca2ff24a1fd77e7",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a4",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2840,
        "y": 780,
        "wires": [
            [
                "1540aacbec9bbddf"
            ]
        ]
    },
    {
        "id": "89e65e9c66d42ff4",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 11",
        "func": "flow.set(\"p1\",0);\nflow.set(\"p2\",0);\nflow.set(\"p3\",0);\nflow.set(\"p4\",0);\nflow.set(\"q_counter\",0);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1350,
        "y": 500,
        "wires": [
            [
                "2bac8b7a9ca355b9",
                "19242c852ab5e19e",
                "d20bfa081668e699",
                "3deaaeb5abe50147",
                "4d2f64c903eb4c97",
                "9452fd419fcf5604"
            ]
        ]
    },
    {
        "id": "bea8e1f34e4753e5",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 13",
        "func": "msg.payload = flow.get(\"admin_selected_pod\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2230,
        "y": 700,
        "wires": [
            [
                "5d441c4c21a36080"
            ]
        ]
    },
    {
        "id": "c4a220d6d7e3f611",
        "type": "debug",
        "z": "d8a9ef838553b641",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 380,
        "wires": []
    },
    {
        "id": "f9a7e60d3f1169e4",
        "type": "debug",
        "z": "d8a9ef838553b641",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 620,
        "wires": []
    },
    {
        "id": "512c68b882a2e322",
        "type": "ui_dropdown",
        "z": "d8a9ef838553b641",
        "d": true,
        "name": "Gamemode",
        "label": "Pod No.",
        "tooltip": "",
        "place": "Select option",
        "group": "2c2d80a8dd447883",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2490,
        "y": 1040,
        "wires": [
            [
                "40bec67b75cca754"
            ]
        ]
    },
    {
        "id": "feeb8d0d050207cb",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "d": true,
        "group": "2c2d80a8dd447883",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Question:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3060,
        "y": 960,
        "wires": []
    },
    {
        "id": "674ee9282fe6b2d5",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "d": true,
        "group": "2c2d80a8dd447883",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 1:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3060,
        "y": 1000,
        "wires": []
    },
    {
        "id": "63ecd16328e3d131",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "d": true,
        "group": "2c2d80a8dd447883",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 2:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3060,
        "y": 1040,
        "wires": []
    },
    {
        "id": "596bef38291ee893",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "d": true,
        "group": "2c2d80a8dd447883",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 3:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3060,
        "y": 1080,
        "wires": []
    },
    {
        "id": "40bec67b75cca754",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 14",
        "func": "var pods_questions = flow.get(\"pods_questions\");\n\nfor (let i = 0; i < pods_questions.length; i++){\n    if (pods_questions[i].pod == msg.payload){\n        flow.set(\"team1_selected_pod\",pods_questions[i].pod);\n        msg.question = pods_questions[i].Question;\n        msg.a1 = pods_questions[i].A1;\n        msg.a2 = pods_questions[i].A2;\n        msg.a3 = pods_questions[i].A3;\n        msg.a4 = pods_questions[i].A4;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2660,
        "y": 1040,
        "wires": [
            [
                "b3e4acc7b64a22da",
                "b7a69f969639793e",
                "7d9e307e9a0aab92",
                "1619d25d33ff56a1",
                "279a552683463452",
                "25c930c116f8e1b9"
            ]
        ]
    },
    {
        "id": "cca6c5bd446c2a86",
        "type": "inject",
        "z": "d8a9ef838553b641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2460,
        "y": 920,
        "wires": [
            [
                "d20bfa081668e699"
            ]
        ]
    },
    {
        "id": "d20bfa081668e699",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 15",
        "func": "var pod_questions = flow.get(\"pods_questions\");\nmsg.options = pod_questions.map(function (item) {\n    return item.pod;\n});\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2470,
        "y": 980,
        "wires": [
            [
                "512c68b882a2e322"
            ]
        ]
    },
    {
        "id": "25c930c116f8e1b9",
        "type": "debug",
        "z": "d8a9ef838553b641",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2840,
        "y": 900,
        "wires": []
    },
    {
        "id": "b3e4acc7b64a22da",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "question",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2860,
        "y": 960,
        "wires": [
            [
                "feeb8d0d050207cb"
            ]
        ]
    },
    {
        "id": "b7a69f969639793e",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2860,
        "y": 1000,
        "wires": [
            [
                "674ee9282fe6b2d5"
            ]
        ]
    },
    {
        "id": "7d9e307e9a0aab92",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2860,
        "y": 1040,
        "wires": [
            [
                "63ecd16328e3d131"
            ]
        ]
    },
    {
        "id": "1619d25d33ff56a1",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2860,
        "y": 1080,
        "wires": [
            [
                "596bef38291ee893"
            ]
        ]
    },
    {
        "id": "d64dffdaeabe5a20",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "d": true,
        "group": "2c2d80a8dd447883",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 4:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3060,
        "y": 1120,
        "wires": []
    },
    {
        "id": "279a552683463452",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a4",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2860,
        "y": 1120,
        "wires": [
            [
                "d64dffdaeabe5a20"
            ]
        ]
    },
    {
        "id": "6ab39fe298c1d402",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 16",
        "func": "msg.payload = flow.get(\"team1_selected_pod\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2250,
        "y": 1040,
        "wires": [
            [
                "512c68b882a2e322"
            ]
        ]
    },
    {
        "id": "7e02c2c263051bb1",
        "type": "ui_template",
        "z": "d8a9ef838553b641",
        "group": "2c2d80a8dd447883",
        "name": "",
        "order": 3,
        "width": 6,
        "height": 3,
        "format": "<style>\n    .progress-red::-webkit-progress-value {\n        background-color: red !important;\n    }\n\n    .progress-blue::-webkit-progress-value {\n        background-color: blue !important;\n    }\n\n    .progress-green::-webkit-progress-value {\n        background-color: green !important;\n    }\n\n    .progress-yellow::-webkit-progress-value {\n        background-color: gold !important;\n    }\n\n    .progress-container {\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n        margin-top: 20px;\n    }\n\n    .gamemode-label {\n        font-family: 'Arial', sans-serif;\n        font-size: 16px;\n        margin-bottom: 10px;\n    }\n\n    .gamemode-name {\n        font-weight: bold;\n    }\n\n    progress {\n        position: relative;\n    }\n\n    progress::after {\n        content: attr(value);\n        color: white;\n        position: absolute;\n        top: 50%;\n        left: 50%;\n        transform: translate(-50%, -50%);\n        font-size: 12px;\n        /* Adjust the font size as desired */\n    }\n</style>\n\n<div class=\"progress-container\">\n    <div class=\"gamemode-label\">\n        <span>Gamemode: </span>\n        <span class=\"gamemode-name\">{{msg.gamemode}}</span>\n    </div>\n    <div>\n        <label>Team 1:</label>\n        <progress class=\"progress-red\" value=\"{{msg.p1}}\" max=\"100\" style=\"background-color:#FF0000\"></progress>\n    </div>\n    <div>\n        <label>Team 2:</label>\n        <progress class=\"progress-blue\" value=\"{{msg.p2}}\" max=\"100\" style=\"background-color:#0000FF\"></progress>\n    </div>\n    <div>\n        <label>Team 3:</label>\n        <progress class=\"progress-green\" value=\"{{msg.p3}}\" max=\"100\" style=\"background-color:#00FF00\"></progress>\n    </div>\n    <div>\n        <label>Team 4:</label>\n        <progress class=\"progress-yellow\" value=\"{{msg.p4}}\" max=\"100\" style=\"background-color:#FFA500\"></progress>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 1060,
        "wires": [
            []
        ]
    },
    {
        "id": "0f0d1de1d7f8e2ff",
        "type": "ui_dropdown",
        "z": "d8a9ef838553b641",
        "name": "Gamemode",
        "label": "Pod No.",
        "tooltip": "",
        "place": "Select option",
        "group": "db400d78075dbc2e",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2510,
        "y": 1380,
        "wires": [
            [
                "8ae6841ad6afa43d"
            ]
        ]
    },
    {
        "id": "bea9f4f7e7257301",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "group": "db400d78075dbc2e",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Question:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3080,
        "y": 1300,
        "wires": []
    },
    {
        "id": "67565cfeed507633",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "group": "db400d78075dbc2e",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 1:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3080,
        "y": 1340,
        "wires": []
    },
    {
        "id": "73cbde4ad731d80d",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "group": "db400d78075dbc2e",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 2:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3080,
        "y": 1380,
        "wires": []
    },
    {
        "id": "3e9370040d0232b4",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "group": "db400d78075dbc2e",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 3:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3080,
        "y": 1420,
        "wires": []
    },
    {
        "id": "8ae6841ad6afa43d",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 17",
        "func": "var pods_questions = flow.get(\"pods_questions\");\n\nfor (let i = 0; i < pods_questions.length; i++){\n    if (pods_questions[i].pod == msg.payload){\n        flow.set(\"team2_selected_pod\",pods_questions[i].pod);\n        msg.question = pods_questions[i].Question;\n        msg.a1 = pods_questions[i].A1;\n        msg.a2 = pods_questions[i].A2;\n        msg.a3 = pods_questions[i].A3;\n        msg.a4 = pods_questions[i].A4;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2680,
        "y": 1380,
        "wires": [
            [
                "5e48ddfa0cc040af",
                "bb24e83b393db38e",
                "56f093558ecc8ad2",
                "fb7422ec827323c7",
                "6ab4f928671dd1aa",
                "8dfa29494864924f"
            ]
        ]
    },
    {
        "id": "d960a697ba3223ff",
        "type": "inject",
        "z": "d8a9ef838553b641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2480,
        "y": 1260,
        "wires": [
            [
                "3deaaeb5abe50147"
            ]
        ]
    },
    {
        "id": "3deaaeb5abe50147",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 18",
        "func": "var pod_questions = flow.get(\"pods_questions\");\nmsg.options = pod_questions.map(function (item) {\n    return item.pod;\n});\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2490,
        "y": 1320,
        "wires": [
            [
                "0f0d1de1d7f8e2ff"
            ]
        ]
    },
    {
        "id": "8dfa29494864924f",
        "type": "debug",
        "z": "d8a9ef838553b641",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2860,
        "y": 1240,
        "wires": []
    },
    {
        "id": "5e48ddfa0cc040af",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "question",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2880,
        "y": 1300,
        "wires": [
            [
                "bea9f4f7e7257301"
            ]
        ]
    },
    {
        "id": "bb24e83b393db38e",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2880,
        "y": 1340,
        "wires": [
            [
                "67565cfeed507633"
            ]
        ]
    },
    {
        "id": "56f093558ecc8ad2",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2880,
        "y": 1380,
        "wires": [
            [
                "73cbde4ad731d80d"
            ]
        ]
    },
    {
        "id": "fb7422ec827323c7",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2880,
        "y": 1420,
        "wires": [
            [
                "3e9370040d0232b4"
            ]
        ]
    },
    {
        "id": "b154cf96c8d96e67",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "group": "db400d78075dbc2e",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 4:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3080,
        "y": 1460,
        "wires": []
    },
    {
        "id": "6ab4f928671dd1aa",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a4",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2880,
        "y": 1460,
        "wires": [
            [
                "b154cf96c8d96e67"
            ]
        ]
    },
    {
        "id": "1618b75de83e33a2",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 19",
        "func": "msg.payload = flow.get(\"team2_selected_pod\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2270,
        "y": 1380,
        "wires": [
            [
                "0f0d1de1d7f8e2ff"
            ]
        ]
    },
    {
        "id": "08d6c552440fb423",
        "type": "ui_template",
        "z": "d8a9ef838553b641",
        "group": "db400d78075dbc2e",
        "name": "",
        "order": 3,
        "width": 6,
        "height": 3,
        "format": "<style>\n    .progress-red::-webkit-progress-value {\n        background-color: red !important;\n    }\n\n    .progress-blue::-webkit-progress-value {\n        background-color: blue !important;\n    }\n\n    .progress-green::-webkit-progress-value {\n        background-color: green !important;\n    }\n\n    .progress-yellow::-webkit-progress-value {\n        background-color: gold !important;\n    }\n\n    .progress-container {\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n        margin-top: 20px;\n    }\n\n    .gamemode-label {\n        font-family: 'Arial', sans-serif;\n        font-size: 16px;\n        margin-bottom: 10px;\n    }\n\n    .gamemode-name {\n        font-weight: bold;\n    }\n\n    progress {\n        position: relative;\n    }\n\n    progress::after {\n        content: attr(value);\n        color: white;\n        position: absolute;\n        top: 50%;\n        left: 50%;\n        transform: translate(-50%, -50%);\n        font-size: 12px;\n        /* Adjust the font size as desired */\n    }\n</style>\n\n<div class=\"progress-container\">\n    <div class=\"gamemode-label\">\n        <span>Gamemode: </span>\n        <span class=\"gamemode-name\">{{msg.gamemode}}</span>\n    </div>\n    <div>\n        <label>Team 1:</label>\n        <progress class=\"progress-red\" value=\"{{msg.p1}}\" max=\"100\" style=\"background-color:#FF0000\"></progress>\n    </div>\n    <div>\n        <label>Team 2:</label>\n        <progress class=\"progress-blue\" value=\"{{msg.p2}}\" max=\"100\" style=\"background-color:#0000FF\"></progress>\n    </div>\n    <div>\n        <label>Team 3:</label>\n        <progress class=\"progress-green\" value=\"{{msg.p3}}\" max=\"100\" style=\"background-color:#00FF00\"></progress>\n    </div>\n    <div>\n        <label>Team 4:</label>\n        <progress class=\"progress-yellow\" value=\"{{msg.p4}}\" max=\"100\" style=\"background-color:#FFA500\"></progress>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 1100,
        "wires": [
            []
        ]
    },
    {
        "id": "70e96448e3df4535",
        "type": "ui_template",
        "z": "d8a9ef838553b641",
        "group": "b6644462804ddd57",
        "name": "",
        "order": 3,
        "width": 6,
        "height": 3,
        "format": "<style>\n    .progress-red::-webkit-progress-value {\n        background-color: red !important;\n    }\n\n    .progress-blue::-webkit-progress-value {\n        background-color: blue !important;\n    }\n\n    .progress-green::-webkit-progress-value {\n        background-color: green !important;\n    }\n\n    .progress-yellow::-webkit-progress-value {\n        background-color: gold !important;\n    }\n\n    .progress-container {\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n        margin-top: 20px;\n    }\n\n    .gamemode-label {\n        font-family: 'Arial', sans-serif;\n        font-size: 16px;\n        margin-bottom: 10px;\n    }\n\n    .gamemode-name {\n        font-weight: bold;\n    }\n\n    progress {\n        position: relative;\n    }\n\n    progress::after {\n        content: attr(value);\n        color: white;\n        position: absolute;\n        top: 50%;\n        left: 50%;\n        transform: translate(-50%, -50%);\n        font-size: 12px;\n        /* Adjust the font size as desired */\n    }\n</style>\n\n<div class=\"progress-container\">\n    <div class=\"gamemode-label\">\n        <span>Gamemode: </span>\n        <span class=\"gamemode-name\">{{msg.gamemode}}</span>\n    </div>\n    <div>\n        <label>Team 1:</label>\n        <progress class=\"progress-red\" value=\"{{msg.p1}}\" max=\"100\" style=\"background-color:#FF0000\"></progress>\n    </div>\n    <div>\n        <label>Team 2:</label>\n        <progress class=\"progress-blue\" value=\"{{msg.p2}}\" max=\"100\" style=\"background-color:#0000FF\"></progress>\n    </div>\n    <div>\n        <label>Team 3:</label>\n        <progress class=\"progress-green\" value=\"{{msg.p3}}\" max=\"100\" style=\"background-color:#00FF00\"></progress>\n    </div>\n    <div>\n        <label>Team 4:</label>\n        <progress class=\"progress-yellow\" value=\"{{msg.p4}}\" max=\"100\" style=\"background-color:#FFA500\"></progress>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "3216764b87cf430e",
        "type": "ui_template",
        "z": "d8a9ef838553b641",
        "group": "08744388682fbe90",
        "name": "",
        "order": 3,
        "width": 6,
        "height": 3,
        "format": "<style>\n    .progress-red::-webkit-progress-value {\n        background-color: red !important;\n    }\n\n    .progress-blue::-webkit-progress-value {\n        background-color: blue !important;\n    }\n\n    .progress-green::-webkit-progress-value {\n        background-color: green !important;\n    }\n\n    .progress-yellow::-webkit-progress-value {\n        background-color: gold !important;\n    }\n\n    .progress-container {\n        display: flex;\n        flex-direction: column;\n        align-items: center;\n        margin-top: 20px;\n    }\n\n    .gamemode-label {\n        font-family: 'Arial', sans-serif;\n        font-size: 16px;\n        margin-bottom: 10px;\n    }\n\n    .gamemode-name {\n        font-weight: bold;\n    }\n\n    progress {\n        position: relative;\n    }\n\n    progress::after {\n        content: attr(value);\n        color: white;\n        position: absolute;\n        top: 50%;\n        left: 50%;\n        transform: translate(-50%, -50%);\n        font-size: 12px;\n        /* Adjust the font size as desired */\n    }\n</style>\n\n<div class=\"progress-container\">\n    <div class=\"gamemode-label\">\n        <span>Gamemode: </span>\n        <span class=\"gamemode-name\">{{msg.gamemode}}</span>\n    </div>\n    <div>\n        <label>Team 1:</label>\n        <progress class=\"progress-red\" value=\"{{msg.p1}}\" max=\"100\" style=\"background-color:#FF0000\"></progress>\n    </div>\n    <div>\n        <label>Team 2:</label>\n        <progress class=\"progress-blue\" value=\"{{msg.p2}}\" max=\"100\" style=\"background-color:#0000FF\"></progress>\n    </div>\n    <div>\n        <label>Team 3:</label>\n        <progress class=\"progress-green\" value=\"{{msg.p3}}\" max=\"100\" style=\"background-color:#00FF00\"></progress>\n    </div>\n    <div>\n        <label>Team 4:</label>\n        <progress class=\"progress-yellow\" value=\"{{msg.p4}}\" max=\"100\" style=\"background-color:#FFA500\"></progress>\n    </div>\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "78c0832dfc35f944",
        "type": "ui_dropdown",
        "z": "d8a9ef838553b641",
        "name": "Gamemode",
        "label": "Pod No.",
        "tooltip": "",
        "place": "Select option",
        "group": "b6644462804ddd57",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2530,
        "y": 1700,
        "wires": [
            [
                "f9a2e011dc4d329f"
            ]
        ]
    },
    {
        "id": "236b9557a1bffb63",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "group": "b6644462804ddd57",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Question:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3100,
        "y": 1620,
        "wires": []
    },
    {
        "id": "0c9bd6fddc5ef25b",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "group": "b6644462804ddd57",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 1:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3100,
        "y": 1660,
        "wires": []
    },
    {
        "id": "5e2c55574a70211d",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "group": "b6644462804ddd57",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 2:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3100,
        "y": 1700,
        "wires": []
    },
    {
        "id": "f1a3380ce9820062",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "group": "b6644462804ddd57",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 3:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3100,
        "y": 1740,
        "wires": []
    },
    {
        "id": "f9a2e011dc4d329f",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 20",
        "func": "var pods_questions = flow.get(\"pods_questions\");\n\nfor (let i = 0; i < pods_questions.length; i++){\n    if (pods_questions[i].pod == msg.payload){\n        flow.set(\"team3_selected_pod\",pods_questions[i].pod);\n        msg.question = pods_questions[i].Question;\n        msg.a1 = pods_questions[i].A1;\n        msg.a2 = pods_questions[i].A2;\n        msg.a3 = pods_questions[i].A3;\n        msg.a4 = pods_questions[i].A4;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2700,
        "y": 1700,
        "wires": [
            [
                "a9400871ce6fc6dd",
                "113556468ed40af2",
                "2ab0e9623f81a528",
                "4d60baa2a8605859",
                "65c97a62a9d7a251",
                "5c83f5a527aa6577"
            ]
        ]
    },
    {
        "id": "c827e8d92ef73159",
        "type": "inject",
        "z": "d8a9ef838553b641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2500,
        "y": 1580,
        "wires": [
            [
                "4d2f64c903eb4c97"
            ]
        ]
    },
    {
        "id": "4d2f64c903eb4c97",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 21",
        "func": "var pod_questions = flow.get(\"pods_questions\");\nmsg.options = pod_questions.map(function (item) {\n    return item.pod;\n});\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2510,
        "y": 1640,
        "wires": [
            [
                "78c0832dfc35f944"
            ]
        ]
    },
    {
        "id": "5c83f5a527aa6577",
        "type": "debug",
        "z": "d8a9ef838553b641",
        "name": "debug 10",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2880,
        "y": 1560,
        "wires": []
    },
    {
        "id": "a9400871ce6fc6dd",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "question",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2900,
        "y": 1620,
        "wires": [
            [
                "236b9557a1bffb63"
            ]
        ]
    },
    {
        "id": "113556468ed40af2",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2900,
        "y": 1660,
        "wires": [
            [
                "0c9bd6fddc5ef25b"
            ]
        ]
    },
    {
        "id": "2ab0e9623f81a528",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2900,
        "y": 1700,
        "wires": [
            [
                "5e2c55574a70211d"
            ]
        ]
    },
    {
        "id": "4d60baa2a8605859",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2900,
        "y": 1740,
        "wires": [
            [
                "f1a3380ce9820062"
            ]
        ]
    },
    {
        "id": "830051f4a49156e7",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "group": "b6644462804ddd57",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 4:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3100,
        "y": 1780,
        "wires": []
    },
    {
        "id": "65c97a62a9d7a251",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a4",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2900,
        "y": 1780,
        "wires": [
            [
                "830051f4a49156e7"
            ]
        ]
    },
    {
        "id": "08f90a38f8096056",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 22",
        "func": "msg.payload = flow.get(\"team3_selected_pod\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2290,
        "y": 1700,
        "wires": [
            [
                "78c0832dfc35f944"
            ]
        ]
    },
    {
        "id": "f73d7cf99d32f9ed",
        "type": "ui_dropdown",
        "z": "d8a9ef838553b641",
        "name": "Gamemode",
        "label": "Pod No.",
        "tooltip": "",
        "place": "Select option",
        "group": "08744388682fbe90",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "multiple": false,
        "options": [],
        "payload": "",
        "topic": "topic",
        "topicType": "msg",
        "className": "",
        "x": 2570,
        "y": 2040,
        "wires": [
            [
                "5380c7e3f1b1addc"
            ]
        ]
    },
    {
        "id": "11a9c82d81aeb18f",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "group": "08744388682fbe90",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Question:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3140,
        "y": 1960,
        "wires": []
    },
    {
        "id": "bded01140fb540db",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "group": "08744388682fbe90",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 1:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3140,
        "y": 2000,
        "wires": []
    },
    {
        "id": "889f78afd67502bd",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "group": "08744388682fbe90",
        "order": 7,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 2:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3140,
        "y": 2040,
        "wires": []
    },
    {
        "id": "1fcd6306a3d5c1e2",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "group": "08744388682fbe90",
        "order": 8,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 3:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3140,
        "y": 2080,
        "wires": []
    },
    {
        "id": "5380c7e3f1b1addc",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 23",
        "func": "var pods_questions = flow.get(\"pods_questions\");\n\nfor (let i = 0; i < pods_questions.length; i++){\n    if (pods_questions[i].pod == msg.payload){\n        flow.set(\"team4_selected_pod\",pods_questions[i].pod);\n        msg.question = pods_questions[i].Question;\n        msg.a1 = pods_questions[i].A1;\n        msg.a2 = pods_questions[i].A2;\n        msg.a3 = pods_questions[i].A3;\n        msg.a4 = pods_questions[i].A4;\n    }\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2740,
        "y": 2040,
        "wires": [
            [
                "155afb96ac68a6fe",
                "65f09b41403459e9",
                "bdf165326b3cd59c",
                "5bc6c6f691263d84",
                "4deac0f81fbdfc69",
                "8c76417390271484"
            ]
        ]
    },
    {
        "id": "c8f5a6056216919c",
        "type": "inject",
        "z": "d8a9ef838553b641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 2540,
        "y": 1920,
        "wires": [
            [
                "9452fd419fcf5604"
            ]
        ]
    },
    {
        "id": "9452fd419fcf5604",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 24",
        "func": "var pod_questions = flow.get(\"pods_questions\");\nmsg.options = pod_questions.map(function (item) {\n    return item.pod;\n});\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2550,
        "y": 1980,
        "wires": [
            [
                "f73d7cf99d32f9ed"
            ]
        ]
    },
    {
        "id": "8c76417390271484",
        "type": "debug",
        "z": "d8a9ef838553b641",
        "name": "debug 11",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 2920,
        "y": 1900,
        "wires": []
    },
    {
        "id": "155afb96ac68a6fe",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "question",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2940,
        "y": 1960,
        "wires": [
            [
                "11a9c82d81aeb18f"
            ]
        ]
    },
    {
        "id": "65f09b41403459e9",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a1",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2940,
        "y": 2000,
        "wires": [
            [
                "bded01140fb540db"
            ]
        ]
    },
    {
        "id": "bdf165326b3cd59c",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a2",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2940,
        "y": 2040,
        "wires": [
            [
                "889f78afd67502bd"
            ]
        ]
    },
    {
        "id": "5bc6c6f691263d84",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a3",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2940,
        "y": 2080,
        "wires": [
            [
                "1fcd6306a3d5c1e2"
            ]
        ]
    },
    {
        "id": "cdd2a1edfcca6ff5",
        "type": "ui_text",
        "z": "d8a9ef838553b641",
        "group": "08744388682fbe90",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Answer 4:",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 3140,
        "y": 2120,
        "wires": []
    },
    {
        "id": "4deac0f81fbdfc69",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "a4",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2940,
        "y": 2120,
        "wires": [
            [
                "cdd2a1edfcca6ff5"
            ]
        ]
    },
    {
        "id": "3df7de04945835a5",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 25",
        "func": "msg.payload = flow.get(\"team4_selected_pod\");\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2330,
        "y": 2040,
        "wires": [
            [
                "f73d7cf99d32f9ed"
            ]
        ]
    },
    {
        "id": "0d0c7af96a7d7510",
        "type": "inject",
        "z": "d8a9ef838553b641",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 3240,
        "y": 1160,
        "wires": [
            [
                "dbd77e6cb10c52a1",
                "50c465dd6c539c87",
                "4af859e53ca2b2e7",
                "217cbb733aa1bcbb",
                "18b310a57eda15e3",
                "81a84585b3d42f96"
            ]
        ]
    },
    {
        "id": "dbd77e6cb10c52a1",
        "type": "function",
        "z": "d8a9ef838553b641",
        "name": "function 26",
        "func": "msg.options = [\"01\",\"02\",\"03\",\"04\",\"05\"]\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 3070,
        "y": 1200,
        "wires": [
            [
                "0f0d1de1d7f8e2ff"
            ]
        ]
    },
    {
        "id": "50c465dd6c539c87",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "What is 9-3?",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3240,
        "y": 1240,
        "wires": [
            [
                "bea9f4f7e7257301"
            ]
        ]
    },
    {
        "id": "4af859e53ca2b2e7",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "2",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3240,
        "y": 1300,
        "wires": [
            [
                "67565cfeed507633"
            ]
        ]
    },
    {
        "id": "217cbb733aa1bcbb",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "4",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3240,
        "y": 1340,
        "wires": [
            [
                "73cbde4ad731d80d"
            ]
        ]
    },
    {
        "id": "18b310a57eda15e3",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "5",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3240,
        "y": 1380,
        "wires": [
            [
                "3e9370040d0232b4"
            ]
        ]
    },
    {
        "id": "81a84585b3d42f96",
        "type": "change",
        "z": "d8a9ef838553b641",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "6",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 3240,
        "y": 1420,
        "wires": [
            [
                "b154cf96c8d96e67"
            ]
        ]
    },
    {
        "id": "74fdbded5d481ca5",
        "type": "GSheet",
        "z": "d8a9ef838553b641",
        "creds": "bd065e252034b722",
        "method": "append",
        "action": "",
        "sheet": "1AXv57v5A4arhChq-tcVTenxM3rd8ZyGWwtPP31GbhDk",
        "cells": "Sheet1!B2",
        "flatten": false,
        "name": "",
        "x": 370,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "57ac26770290a27a",
        "type": "mqtt in",
        "z": "d8a9ef838553b641",
        "name": "",
        "topic": "RSSI",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee34639149189bfe",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1200,
        "wires": [
            [
                "74fdbded5d481ca5"
            ]
        ]
    },
    {
        "id": "f1aa1568eb22702e",
        "type": "mqtt in",
        "z": "d8a9ef838553b641",
        "name": "",
        "topic": "SNR",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "ee34639149189bfe",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 1300,
        "wires": [
            [
                "319cacdc37a346a6"
            ]
        ]
    },
    {
        "id": "319cacdc37a346a6",
        "type": "GSheet",
        "z": "d8a9ef838553b641",
        "creds": "bd065e252034b722",
        "method": "append",
        "action": "",
        "sheet": "1AXv57v5A4arhChq-tcVTenxM3rd8ZyGWwtPP31GbhDk",
        "cells": "Sheet1!A2",
        "flatten": false,
        "name": "",
        "x": 370,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "a4167572dab88520",
        "type": "ui_group",
        "name": "Menu",
        "tab": "6cafe887fc7255b9",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "06b34138abbb0462",
        "type": "ui_group",
        "name": "New Game",
        "tab": "6cafe887fc7255b9",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "75346c27f7fd69ea",
        "type": "ui_group",
        "name": "Live",
        "tab": "6cafe887fc7255b9",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "8748a8458817e175",
        "type": "ui_group",
        "name": "Questions",
        "tab": "6cafe887fc7255b9",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "ee34639149189bfe",
        "type": "mqtt-broker",
        "name": "CloudMQTT",
        "broker": "hairdresser.cloudmqtt.com",
        "port": "15593",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2c2d80a8dd447883",
        "type": "ui_group",
        "name": "Live",
        "tab": "3caf2202a8527760",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "db400d78075dbc2e",
        "type": "ui_group",
        "name": "Live",
        "tab": "92972baafc7fa151",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "b6644462804ddd57",
        "type": "ui_group",
        "name": "Live",
        "tab": "82303b994595c3e8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "08744388682fbe90",
        "type": "ui_group",
        "name": "Live",
        "tab": "8be52d994f48c3a5",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "bd065e252034b722",
        "type": "gauth",
        "name": "readwritegsheet@dtu-ros-datalog.iam.gserviceaccount.com"
    },
    {
        "id": "6cafe887fc7255b9",
        "type": "ui_tab",
        "name": "Admin",
        "icon": "lock",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "3caf2202a8527760",
        "type": "ui_tab",
        "name": "Team 1",
        "icon": "person",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "92972baafc7fa151",
        "type": "ui_tab",
        "name": "Team 2",
        "icon": "person",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "82303b994595c3e8",
        "type": "ui_tab",
        "name": "Team 3",
        "icon": "person",
        "order": 4,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8be52d994f48c3a5",
        "type": "ui_tab",
        "name": "Team 4",
        "icon": "person",
        "order": 5,
        "disabled": false,
        "hidden": false
    }
]